version: '3'

services:
  reverse-proxy:
    image: traefik
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./acme.json:/acme.json
      - ./traefik.toml:/traefik.toml
    environment:
      - DO_AUTH_TOKEN
    networks:
      - web

networks:
  web:
    external: true
